{
  "openapi": "3.1.0",
  "info": {
    "title": "LinkedIn Content Helper API",
    "version": "1.0.0",
    "description": "API intermédiaire pour récupérer les données LinkedIn via RapidAPI."
  },
  "servers": [
    {
      "url": "https://philaudet.app.n8n.cloud/webhook/linkedin-profile",
      "description": "Serveur N8N pour interroger RapidAPI"
    }
  ],
  "paths": {
    "/linkedin-profile": {
      "post": {
        "summary": "Récupère les infos d’un profil LinkedIn via RapidAPI",
        "operationId": "getUserProfile",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "linkedin_url": {
                    "type": "string",
                    "description": "Lien du profil LinkedIn à analyser"
                  }
                },
                "required": ["linkedin_url"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Succès - Données du profil reçues",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "full_name": { "type": "string" },
                    "headline": { "type": "string" },
                    "location": { "type": "string" },
                    "about": { "type": "string" }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
}
